<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tic Tac Toe Dashboard</title>
    <link rel="stylesheet" href="style4.css">
</head>
<body>
    <div class="dashboard-container">
        <h1>Tic Tac Toe Dashboard</h1>
        <form onsubmit="handleSubmit(event)">
        <button type="submit" id="showUsersBtn">Show Users</button></form>
    </div>
    <script src="script.js"></script>
</body>
</html>
